.mat-toolbar {
  padding: 0;

  .btn-back {
    height: 64px;
    padding: 0;

    .mat-icon {
      font-size: 3rem;
      height: auto;
      width: auto;
    }
  }

  .mat-divider {
    height: 64px;
    margin-right: 1rem;
  }
}

.ingredients {
  margin: 1rem;
}
