<mat-toolbar class="mat-elevation-z2">My App</mat-toolbar>
<div *ngFor="let menuCategory of menuCategories" class="category-list">
  <div class="category-list-title">{{ menuCategory.name }}</div>
  <mat-card>
    <ng-container
      *ngFor="
        let menuItem of getMenuItemsByCategoryId(menuCategory.id);
        last as isLast
      "
    >
      <app-food-menu-item [menuItem]="menuItem"></app-food-menu-item>
      <mat-divider *ngIf="!isLast"></mat-divider>
    </ng-container>
  </mat-card>
</div>
