.category-list {
  margin: 1rem;

  &-title {
    font-size: 1.5rem;
    text-transform: uppercase;
    text-align: center;
    font-weight: 500;
    padding-bottom: 1rem;
  }
}

.mat-card {
  padding: 0 1rem;
}

.food-menu-item {
  display: flex;
  width: 100%;
  padding: 1rem 0;
  cursor: pointer;

  .food-menu-item-description {
    flex: 1;
  }

  .title {
    font-weight: bold;
    margin-bottom: .5rem;
  }

  .ingredients {
    font-size: 0.8 rem
  }

  .price {
    font-weight: bold;
  }
}